@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

:root {
	font-family: Space Grotesk;
    --typography-base: 15px;
    --spacing: 10px;
    --border-radius: 20px;

    --light-green: #DEE8E0;
	--beige: #EAE6DE;
	--beige-circel:#F0EADB;
	--orange-keyboard-circle:#FC3E04;
	--orange-keyboard:#ED3B07;
    --white: #FFFFFF;
	--black:#181818;
	--double-black: #000000;
    --dark-grey: #181818;
	--dark-green:#3E462C;
}

/*  added this to make sure the sentences are consistent
    DONT DELETE THE P TAG  */
p {
    text-transform: lowercase;
}
p:first-letter {
    text-transform: uppercase;
}

.header { 
	display: grid;
	background-image: url(./images/Group\ 18.png);
	color: var(--white);
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: var(--border-radius);
	margin: calc(1* var(--spacing)) ;
	padding-bottom: calc(5* var(--spacing)) ;
}

.topnav{ 
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding-top:calc(2* var(--spacing));
	padding-left: calc(7* var(--spacing));
	padding-right: calc(7* var(--spacing));
	font-size:  calc(1.4* var(--typography-base));
}

.logo_img{ 
	height: 30px;
	width: 49px;
}

h1{ 
	display: flex;
	justify-content: space-around;
	font-weight: bold;
	margin-right: auto;
	margin-left: auto;
	font-size: calc(3.2* var(--typography-base));
	line-height: 100%;
	padding-top: calc(4* var(--spacing));
	padding-bottom: calc(3* var(--spacing));
}

.description { 
	text-align: center;
	display: flex;
	justify-content: space-around;
	padding-bottom: calc(3* var(--spacing));
	font-size: calc(1.3* var(--typography-base));
	margin-right:calc(7* var(--spacing));
	margin-left:calc(7* var(--spacing));
}

/* .author_button{ 
	color: #ecf0f1;
	font-size: 17px;
	background-color: #e67e22;
	border: 1px solid #f39c12;
	border-radius: 5px;
	padding: 10px;
	box-shadow: 0px 6px 0px #d35400;
	transition: all .1s;
}

.author_button:active {
	box-shadow: 0px 2px 0px #d35400;
	position: relative;
	top: 2px;
   } */

.head_image_left{ 
	width: 30%;
	padding-left: 15px;
	margin-left: 15px;
	float: right;
	font-style: italic;
	background-color: lightgray;
}
.mainnav{ 
	display: block;
	position: sticky;
	top: var(--spacing); 
	float: left;
	justify-content: center;
	height: 800px;
	background-color: var(--dark-grey);
	border: var(--beige-circel) solid 5px;
	border-radius: calc(1* var(--border-radius)) ;
	margin-left: calc(1* var(--spacing)) ;
	margin-right: calc(1* var(--spacing)) ;
	margin-bottom: calc(1* var(--spacing)) ;
}

.keyboard { 
	scroll-behavior: smooth;
	display: block;
	justify-content: space-between;
	padding-top:calc(2* var(--spacing));
	padding-bottom:calc(2* var(--spacing));
	padding-left: calc(2* var(--spacing));
	padding-right: calc(2* var(--spacing));
	font-size:  calc(1.4* var(--typography-base));
	color: var(--white);
}

.key-orange { 
	background-color: var(--orange-keyboard);
	padding:calc(.5* var(--spacing));
	border-radius: calc(0.5* var(--border-radius)) ;
	
}
.key-inside-org { 
	font-size: var(--typography-base);
	background-color: var(--orange-keyboard-circle);
	border-radius: calc(5* var(--border-radius)) ;
	padding:calc(2* var(--spacing));
	border-radius: 91px;
	background: #FC3E04;
	box-shadow: 0px 0px 16.6px -3px rgba(0, 0, 0, 0.25);
}
.key-beige { 
	color: var(--dark-grey);
	background-color: var(--beige);
	padding:calc(.5* var(--spacing));
	margin-top: calc(2* var(--spacing));
	border-radius: calc(0.5* var(--border-radius)) ;
	width: 100%;
	display: flex;
    justify-content: center;
}

.key-inside { 
	font-size: var(--typography-base);
	width: 100%;
	justify-content: center;
	color: #A9A49A;
	border-radius: calc(5* var(--border-radius)) ;
	padding:calc(2* var(--spacing));
	border-radius: 91px;
	background: #F0EADB;
	box-shadow: 0px 0px 16.6px -3px rgba(0, 0, 0, 0.25);
}



h2{ 
	font-size: calc(3* var(--typography-base));
	line-height: 100%;
	/* padding-bottom: calc(2* var(--spacing)); */
}

.container-images { 
	columns: 3 ;
    background-color: var(--black);
    margin: calc(1* var(--spacing)) ;
    padding: calc(4* var(--spacing)) ;
    border-radius: calc(1* var(--border-radius)) ;
}
.block--image{
	overflow: hidden;
	background-color: var(--beige);
	margin-bottom: calc(2* var(--spacing));
	padding: calc(.5* var(--spacing)) ;
	border-radius: calc(.5* var(--border-radius)) ;
}
.block--image:hover{
	overflow: hidden;
	background-color: var(--orange-keyboard);
	margin-bottom: calc(2* var(--spacing));
	padding: calc(.5* var(--spacing)) ;
	border-radius: calc(.5* var(--border-radius)) ;
}
.images-block img { 
	border-radius: calc(.5* var(--border-radius)) ;
	width: 100%;
    object-fit: cover;	
}

figcaption { 
	font-weight: 500;
	color: var(--dark-grey);
	padding: calc(.5* var(--spacing)) ;
	padding-top: calc(2* var(--spacing)) ;
}

.block--image__description {
	display: none;
}


.container-links{ 
	display: grid;
	flex-direction: column;
    background-color: var(--black);
    margin: calc(1* var(--spacing)) ;
    padding: calc(4* var(--spacing)) ;
    border-radius: calc(1* var(--border-radius)) ;
}

.block--link { 
	overflow: hidden;
	background-color: var(--beige);
	margin-bottom: calc(2* var(--spacing));
	padding: calc(.5* var(--spacing)) ;
	border-radius: calc(.5* var(--border-radius)) ;
}
.links-block img { 
	border-radius: calc(.5* var(--border-radius)) ;
	width: 100%;
    object-fit: cover;	
}

.link-title{ 
	font-size: calc(2* var(--typography-base));
	font-style: bold;
	padding-top: calc(1* var(--spacing));
	padding: calc(1* var(--spacing)) ;
}
.link-description{ 
	font-size: calc(1* var(--typography-base));
	padding-top: calc(1* var(--spacing));
	padding: calc(1* var(--spacing)) ;
	text-transform:  uppercase;
}

.link-button{ 

}

.container-texts{ 
	columns: 2 ;
    background-color: var(--black);
    margin: calc(1* var(--spacing)) ;
    padding: calc(4* var(--spacing)) ;
    border-radius: calc(1* var(--border-radius)) ;
}


.blocks { 
	display: grid;
	grid-template-columns: 1fr 1fr;
	background-color: var(--black);
	color: var(--white);
	margin-left: calc(2* var(--spacing)) ;
	margin-right: calc(2* var(--spacing)) ;
	padding: calc(2* var(--spacing)) ;
}
